.root {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	// align-items: center;
	height: 100vh;
	background-image:url(./images/background-image.png);
	background-size: cover;
}
